@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Body {
<div role="body">

	<div id="content">
		<div id="preamble">
			<p>Olga Kolotygin has been teaching piano, voice and music theory for over 15 years. Born in Russia, Olga commenced piano lessons at the age of 7. She finished music school and graduated from the College of Music and Art with a Bachelor degree.</p>
			<p>Today, Ms. Kolotygin offers private piano, voice and music theory lessons tailored to specific student abilities and tastes. She loves jazz and popular music as much as classical. Olga’s professionalism and attention helps to turn piano lessons into an exciting work-entertainment.    A warm and loving teacher, she has helped many students make enormous progress in their playing and singing.  Ms. Kolotygin students range from 3 year old to senior and from beginner to advanced. Olga’s students are given an opportunity to perform in recitals held over the course of the year, where the whole family and friends can attend to enjoy the performances.</p>
			<p>If students wish, they may take exams offered by the Royal Conservatory of Music (RCM). The Royal Conservatory is a national testing board that is based in Toronto. The RCM allows students to test for certain grades in piano or voice. Exams are held three times per year at various locations around Greater Vancouver.</p>
			<p>Any prospective student can book an appointment with Olga free of charge where she will evaluate his or her musical abilities and decide on a course of study. Weekly lessons would be scheduled accordingly.</p>
		</div>
	</div>

	<aside id="sidebar" role="complementary">

		<img src="/Images/VSOlogoHorizRedBlk_RGB.jpg" style="width: 100%;"/>
		<img src="/Images/tom-lee-logo.png" style="width: 100%;"/>
		<img src="/Images/rc-logo.png" style="width: 100%; background:#B0281A;"/>
		<img src="/Images/long-and-mcquade-logo.png" style="width: 100%;"/>
		<img src="/Images/VKMF_logo.jpg" style="width: 100%;"/>

		<blockquote class="pullquote" cite="../Testimonials">
			<span class="start">&#8220;</span>
			<p class="quote">@Html.ActionLink("Olga sees each student as an individual and draws upon their strengths to teach them in ways that work best for them...", "Index", "Testimonials")</p>
			<span class="end">&#8221;</span>
			<p class="author">~ Igor Dianov</p>
		</blockquote>

		<blockquote class="pullquote" cite="../Testimonials">
			<span class="start">&#8220;</span>
			<p class="quote">@Html.ActionLink("Olga has been demonstrating her patience and encouraging personality, which are critical for starting students, along with her excellent teaching skills and passion for music...", "Index", "Testimonials")</p>
			<span class="end">&#8221;</span>
			<p class="author">~ Songlin Ye</p>
		</blockquote>

		<blockquote class="pullquote" cite="../Testimonials">
			<span class="start">&#8220;</span>
			<p class="quote">@Html.ActionLink("Olga sees each student as an individual and draws upon their strengths to teach them in ways that work best for them...", "Index", "Testimonials")</p>
			<span class="end">&#8221;</span>
			<p class="author">~ Iana Machinskaia</p>
		</blockquote>

		<blockquote class="pullquote" cite="../Testimonials">
			<span class="start">&#8220;</span>
			<p class="quote">@Html.ActionLink("Olga is very positive and encouraging Teacher who is able to make students feel confident and motivated...", "Index", "Testimonials")</p>
			<span class="end">&#8221;</span>
			<p class="author">~ Nisveta  Nikki Mujezinovic</p>
		</blockquote>
	<!--
		<div class="box">
			<h3>Igor Dianov:</h3>
			<p>Olga sees each student as an individual and draws upon their strengths to teach them in ways that work best for them.</p>
		</div> -->
	</aside>

</div>
}
