@{
	ViewBag.Title = "Piano & Voice Lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<div id="preamble">
		<h3><span>My philosophy and approach toward music</span></h3>
		<p>Playing the piano is more than just taking lessons. Studying the piano will help the students to develop Life Skills through Music. Students will acquire time management and goal setting skills, as well as, the feeling of commitment and personal responsibility.  Also the students will develop self-confidence and creative thinking skills.  There will be a whole new world to discover - the world of music which is filled with magic imagination, feelings and truth of life.</p>
	</div>
	<div id="about_me">
		<h3><span>About me</span></h3>
		<p>It was always decided that, in my musical-artistic family, I was going to be a musician. When I turned seven my father sent me to the best music school in the city (the one that he finished himself). In Russia, the standards for musical education are very high and the process of studying is very demanding and time consuming. At music school my major was piano. I had to go twice a week for individual piano lessons, once a week for elementary rudiments group lessons, once a week for choir and once a week for music history.   Mostly, I enjoyed taking musical education and I was proud to play a musical instrument.  There were hours, days, and years of practice and mastering the “language of music.</p><p>At some point, when I was in grade 5, I found that going to music school became boring for me, and I told my parents that I want to quit. My family told me that the easiest thing to do is to give up…but they also told me that I am not a quitter!  I have enough strength to pursue my goal of becoming a musician. My family was right, I was not a quitter. I was just like every other kid who thought they didn’t want something different. Very often children who quit music lessons regret later on that they didn’t finish music school. After graduation from music school I enrolled to a College of Music and Arts, my major was Music Theory.  After four years of full-time studies I graduated with a Bachelor Degree.  In College of Music and Arts our teachers taught us to think, to analyze, to feel, and to express. That is exactly what I teach my students now.  Logical thinking is the most important element in mastering the music language. Tedious work is the necessity to achieve good results. Enjoyment of expressing the feelings through playing is the prize.</p>
	</div>
	<div id="my_approach">
		<h3><span>Being a teacher</span></h3>
		<p>Not every musician can be a teacher. The most important qualities of a good teacher are professionalism, patients, flexibility and intuition.  Every student is a unique individual with his or her own qualities, background, goals, and needs.  Therefore I use my psychological and pedagogical skills to determine the best method of teaching for every student.  When I teach I always have two goals in mind, to keep a student fascinated and to make him or her work hard.  Every individual possess different talents and it is extremely important to determine in which area an individual is most talented and to encourage him or her to keep developing the talent.  For example, some students are very talented in remembering and repeating the rhythm patterns, some could be very talented in technical skills, some students could have a beautiful voice, and some could be very good in music theory.  As soon as I determine the talent, I keep reminding to each of my students that they do have a talent and they are special.</p>
	</div>
	<div id="contacts">
		<h3><span><a href="mailto:okuznets@hotmail.com">Email</a> or call at (604)727-6259</span></h3>
	</div>
</div>