div[role="body"] {
    padding: 0 2em 10em;
}

#content {
    width: auto;
    max-width: 100%;
    float: none;
    padding: 0;
}

section[role="lessons-reasons"] {
    background: url(/Images/clef.png) 4em 0px no-repeat;
    padding: 4em 2.2em 10em 2.2em;
    background-size: contain;
}

section[role="lessons-reasons"] ul {
    margin: 0;
    /* padding: 0 0 0 0.5em; */
    list-style-position: outside;
    list-style-type: none /*lower-roman*/;
    font-size: 1.2em;
    /* direction: rtl; */
}

section[role="lessons-reasons"] ul li {
    border-bottom: 1px solid rgb(76,76,76);
}

section[role="lessons-reasons"] p {
    text-align: right;
    margin: 0.2em 1em 0.2em 0.4em;
    color: #B0281A;
    /*font-family: 'Segoe UI Light','Segoe UI',Arial,Helvetica,Sans-Serif;*/
}

section[role="lessons-reasons"] abbr {
    border-bottom: 1px dotted;
    cursor: help;
}
