@using Root.Web.Mvc.Url
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@Url.Resources().Styles.Add("~/CSS/contacts.css")

@section Body {
<div role="body">

    <div id="content">
        <section id="map" role="direction">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20851.847791836207!2d-122.97011786255778!3d49.21040487932358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486762d40838cad%3A0x99ae452c3f821fff!2s7088+14th+Ave%2C+Burnaby%2C+BC+V3N+0E7%2C+Canada!5e0!3m2!1sen!2sus!4v1473832916633"></iframe>
            <a href="https://goo.gl/maps/wNjkRxr3SCS2" target="_blank">View Larger Map</a>
        </section>
    </div>

    <aside id="sidebar" role="complementary">
        <address>
            <span>Olga Kolotygin (<abbr title="Bachelor of Music">BMus</abbr>)</span>
            <span>Tel: <a href="callto&#58;+16047831967">(604)727-6259</a></span>
            <span>Email: <a href="mailto:olga@rootpositon.com">olga@rootpositon.com</a></span>
        </address>
    </aside>

</div>
}

@section Scripts {
}
