@using Root.Web.Mvc.Url
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@Url.Resources().Styles.Add("~/CSS/home.css")

@section Body {
<div role="body">
    <div id="content">
        <section id="lessons" role="lessons-reasons">
            <ul>
                <li>
                    <p>Perform in recitals</p>
                </li>
                <li>
                    <p>Prepare for voice auditions </p>
                </li>
                <li>
                    <p>Learn how to play piano and sing</p>
                </li>
                <li>
                    <p>Learn music theory, history and harmony</p>
                </li>
                <li>
                    <p>Develop inspiration and passion for music</p>
                </li>
                <li>
                    <p>Learn how to present yourself on the stage</p>
                </li>
                <li>
                    <p>Prepare for <abbr title="The Royal Conservatory of Music">RCM</abbr> Examinations – Piano, Voice, Theory, History</p>
                </li>
            </ul>
            </section>
    </div>
</div>
}

@section Scripts {
}
