@using Web.Mvc.Html
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@Html.Resources().Styles.Add(Url.Content("~/CSS/contacts.css"))

@section Body {
<div role="body">

    <div id="content">
        <section id="map" role="direction">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20851.81927106178!2d-122.9705809!3d49.2104725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486762d15131abf%3A0x220118a33bf07e2c!2s7088+14th+Ave%2C+Burnaby%2C+BC+V3N+1Z2%2C+Canada!5e0!3m2!1sen!2sus!4v1469659687747"></iframe>
            <a href="https://goo.gl/maps/H3YfnfHkxwN2" target="_blank">View Larger Map</a>
        </section>
    </div>

    <aside id="sidebar" role="complementary">
        <address>
            <span>Olga Kolotygin (<abbr title="Bachelor of Music">BMus</abbr>)</span>
            <span>Tel: <a href="callto&#58;+16047831967">(604)727-6259</a></span>
            <span>Email: <a href="mailto:olga@rootpositon.com">olga@rootpositon.com</a></span>
        </address>
    </aside>

</div>
}

@section Scripts {
}
