@using Infrastructure.Extensions
@using Web.Mvc.Html
@model RootPosition.Analytics.Models.AnalyticsOptions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.Resources().Styles.Add(Url.Content("~/CSS/root.linegraph.css"));
    Html.Resources().Styles.Add(Url.Content("~/CSS/root.analytics.css"));
    Html.Resources().Styles.Add(Url.Content("~/CSS/bootstrap-datepicker.css"));

    Html.Resources().Scripts.Add(Url.Content("~/Scripts/jquery.min.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/knockout.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.extensions.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/jquery.extensions.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.DataStructures.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.WebResourceUrl.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/D3/d3.v3.min.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/D3/topojson.v1.min.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.LineGraph.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/bootstrap-datepicker.js"));
    
    
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.Analytics.ChoroplethMap.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.Analytics.Controller.js"));
    Html.Resources().Scripts.Add(Url.Content("~/Scripts/root.Analytics.ViewModel.js"));
}

@section Body {

<div id="AnalyticsViewContainer" class="an-view">
    <div class="an-header">
        <div class="an-header-actions">
            <ul class="an-header-actions-options">
                <li>
                    <a href="javascript:void(0);" class="an-header-actions-options-email"></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="an-header-actions-options-print"></a>
                </li>
            </ul>
        </div>
        <div class="an-header-date-range">
            <div class="an-start-date date">
                <input type="text">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <label class="an-header-to-label">To:</label>
            <div class="an-end-date date">
                <input type="text">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
    </div>

    <div class="an-timeline-view" data-bind="with: timeLineView">
        <div class="an-timeline-view-header">
            <select class="an-metric-options" data-bind="options: $parent.metricTypes, optionsText: 'value', value: $parent.selectedMetricType">
            </select>
            <ul class="an-timeline-view-scale-options">
                <li>
                    <a href="javascript:void(0);" data-bind="css: { selected: isDayScale }, click: setScale, attr: { data: scales.Day }">Day</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-bind="css: { selected: isWeekScale }, click: setScale, attr: { data: scales.Week }">Week</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-bind="css: { selected: isMonthScale }, click: setScale, attr: { data: scales.Month }">Month</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-bind="css: { selected: isYearScale }, click: setScale, attr: { data: scales.Year }">Year</a>
                </li>
            </ul>
        </div>
        <div id="TimeLineViewChartContainer" class="an-timeline-view-chart"></div>
    </div>

    <div class="an-metric-view" data-bind="with: metricView">
        <table class="an-metric-view-values fixed">
            <colgroup>
                <col class="an-metric-view-value-col"/>
                <col class="an-metric-view-value-col"/>
                <col class="an-metric-view-value-col"/>
                <col class="an-metric-view-value-col"/>
                <col class="an-metric-view-value-col"/>
                <col class="an-metric-view-value-col"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">Pageviews</th>
                    <th scope="col">UniquePageviews</th>
                    <th scope="col">Average Time</th>
                    <th scope="col">Entrances</th>
                    <th scope="col">Bounce Rate</th>
                    <th scope="col">Exit Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: values()">
                    <td class="an-metric-view-cell-pageviews" data-bind="text: pageViews"></td>
                    <td class="an-metric-view-cell-unique-pageviews" data-bind="text: uniquePageViews"></td>
                    <td class="an-metric-view-cell-average-time" data-bind="text: averageTime"></td>
                    <td class="an-metric-view-cell-entrances" data-bind="text: entrances"></td>
                    <td class="an-metric-view-cell-bounce-rate" data-bind="text: bounceRate"></td>
                    <td class="an-metric-view-cell-exit-rate" data-bind="text: exitRate"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="an-geomap-view">
        <label class="an-view-header">Geography</label>
        <div id="GeoMapViewChartContainer">
            <div id="GeoMapZoom" class="an-geomap-view-zoom">
                <div class="an-geomap-view-zoom-handle"></div>
            </div>
        </div>
    </div>

</div>

}

@section Scripts {
    <script type="text/javascript">
        @{
            Model.ContainerId = "AnalyticsViewContainer";
            Model.TimeLineView.ContainerId = "TimeLineViewViewChartContainer";
            Model.GeoMapView.ContainerId = "GeoMapViewChartContainer";
            Model.SourcesView.ContainerId = "SourcesViewPieChartContainer";
        }
        root.Analytics.initialize(@Html.Raw(Model.ToJson()));
    </script>
}
