div[role="body"] {
    padding: 0 2em 10em;
}

#content {
    width: auto;
    max-width: 100%;
    float: none;
    padding: 0;
}

section[role="lessons-reasons"] {
    background: url(/Images/clef.png) 4em 0 no-repeat;
    padding: 4em 2.2em 10em 2.2em;
    -ms-background-size: contain;
    background-size: contain;
}

section[role="lessons-reasons"] ul {
    margin: 0;
    list-style-position: outside;
    list-style-type: none /*lower-roman*/;
    font-size: 1.2em;
}

section[role="lessons-reasons"] ul li {
    border-bottom: 1px solid rgb(76,76,76);
}

section[role="lessons-reasons"] p {
    font-size: 1.6em;
    text-align: right;
    margin: 0.2em 1em 0.2em 0.4em;
    color: #B0281A;
}
