section[role="music"] em {
    font-family: "Maiandra GD Demi Bold";
    font-style: normal;
    color: rgb(97, 14, 14);
}

section[role="music"] ul {
	margin: 0;
	padding: 0 0 0 0.3em; /* 1em left padding aligns to the left side of the container */
	list-style-position: outside;
	list-style-type: disc;
}

section[role="music"] ul li {
  margin: 0 0 0 1em;
}

section[role="music"] ul li p {
  text-align: left;
}
