.hide {
	display: none;
}

#overlay-container {
	display: none;
	position: fixed; /* This means that the top left point of the div is fixed at point (0, 0) */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #000; /* IE < 9 */
	background-color: rgba(0, 0, 0, 1);
	-moz-opacity: 0.8; /* This is a special css property that is specific to Mozilla Firefox */
	opacity: .80; /* This is the default opacity property in css. Safari uses this */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* This whole nonsense is specifically for IE7 */
	cursor: pointer;
}

#photo-container {
	position: absolute;
	z-index: 9999;
	background-color: #111; /* IE < 9 */
	background-color: rgba(0, 0, 0, 0.5);
	overflow: visible;

	/* Making elements unselectable: */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-box-shadow: 0.2em 0.2em 0.37em #000;
	-moz-box-shadow: 0.2em 0.2em 0.37em #000;
	box-shadow: 0.2em 0.2em 0.37em #000;

}

#image-container {
	position: relative;
	height: 100%;
	/*height: auto !important;*/
	min-height: 100%;
	width: 100%;
}

#image-container img {
	position: relative;
	outline: none;

	margin: 1em;

	/* Making elements unselectable: */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	border: 0.1em solid #555;
	border-color: #222 #555 #555 #222;
}

#previous-button, #previous-button:link, #previous-button:hover, #next-button, #next-button:hover, #next-button:link {
	position: absolute;
	display: block;
	top: 0;
	width: 50%;
	height: 100%;
	text-indent: -1000em;
	overflow: hidden;
	outline: none;
	background-image: url(/Images/transparent.png); /* IE hack to fix Absolutely-positioned IE7 block-level link tag: No clickable area */
}

#previous-button, #previous-button:link {
	left: 0;
}

#next-button, #next-button:link {
	right: 0;
	margin-left: 50%\9; /* make IE<9 happy */
}

#previous-button:hover {
	background: transparent url(/Images/back-button.png) no-repeat 5% 50%;
}

#next-button:hover {
	background: transparent url(/Images/next-button.png) no-repeat 95% 50%;
}

#close-button, #close-button:link, #close-button:hover {
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	width: 58px;
	height: 58px;
	background: transparent url(/Images/close.png) no-repeat top left;
	z-index: 99999;
}

#footer-push {
	height: 3em;
}

#footer-container {
	position: relative;
	background: #EC3515;
	margin: 0 auto;
	width: 100%;
	height: 3em;
	width: 100%;
	display: none;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 1em;
	color: #666;
	line-height: 1.4em;
	text-align: left;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
