@using Root.Web.Mvc.Url
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Url.Resources().Styles.Add("~/CSS/testimonials.css")
@section Body {

<div role="body">

	<div id="content">

		<article role="reference" class="first-reference corner-fold">
			<header>
                <p>To whom it may concern,</p>
			</header>
			<p>It is my great pleasure to write this letter of recommendation for Olga Kolotygin. Since 2007, my daughter Shirley has been taking piano lessons with Olga. Within 2 years, Shirley passed RCM Grade 5 test with an excellent score (88) and currently she is preparing for grade 10 test. Olga has been demonstrating her patience and encouraging personality, which are critical for starting students, along with her excellent teaching skills and passion for music that are equally important for Shirley to make progress and enjoy playing piano.</p>
			<p>I strongly recommend Olga as a piano teacher and I am sure that her current and future students will benefit from her teaching skills and motivated by her passion and love for music.</p>
			<footer>
				<p>Sincerely,</p>
				<span>Songlin Ye</span>
			</footer>
		</article>
		<article role="reference" class="corner-fold">
			<header>
                <p>To whom it may concern,</p>
			</header>
			<p>Olga is very positive and encouraging Teacher who is able to make students feel confident and motivated.</p>
			<p>She’s been teaching my daughter piano for 3rd year now, and not only did my daughter grow as a piano player, she gained confidence and she started taking vocal lessons.  Before beginning lessons with Olga my daughter had taken lessons with another piano teacher for 2 yrs. It was more like a chore to her and she almost gave up, but now she enjoys playing piano and singing very much and looks forward to her lessons.  Olga will allow her to choose a piece that she wanted to learn and that gave her motivation to practise.</p>
			<p>Olga is very patient and talented and I would highly recommend her as a piano Teacher.</p>
			<footer>
				<p>Sincerely,</p>
				<span>Nisveta Nikki Mujezinovic</span>
			</footer>
		</article>
		<article role="reference" class="corner-fold">
			<header>
                <p>To whom it may concern,</p>
			</header>
			<p>My son has been taking piano lessons with Olga starting from January 2011. Since the beginning, Olga has been very diligent in teaching our son piano techniques, music theory, and singing.</p>
			<p>Olga is very friendly and patient in teaching children, while encouraging them to always learn something new. Olga sees each student as an individual and draws upon their strengths to teach them in ways that work best for them.</p>
			<p>I highly recommend Olga as a piano teacher.</p>
			<footer>
				<p>Sincerely,</p>
				<span>Igor Dianov</span>
			</footer>
		</article>
		<article role="reference" class="last-reference corner-fold">
			<header>
                <p>To whom it may concern,</p>
			</header>
			<p>It is with great pleasure that I write this letter of recommendation on behalf of Olga Kolotygin. Since 2007, my daughter has been taking piano lessons with Olga. The progress that she has been making exceeds our expectations and continues to grow as my daughter proceeds with classes. Throughout that time, Olga has been demonstrating her professional teaching techniques, which gave my daughter all necessary skills to play the piano, gained more confidence in playing and presentation overall.</p>
			<p>Olga is not only friendly and patient, but also is good at gauging her student’s level of knowledge and ability. Her commitment to students is evident. Olga sees each student as an individual and draws upon their strengths to teach them in ways that work best for them.</p>
			<p>Olga is a very positive and encouraging teacher who is able to make confident self-motivated piano players out of her students. I highly recommend Olga as a piano teacher and I am sure that her current and future students will experience her contagious passion and love of music first hand.</p>
			<footer>
				<p>Sincerely,</p>
				<span>Iana Machinskaia</span>
			</footer>
		</article>

	</div>

</div>
}

@section Scripts {
}
